<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Add Your Links</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="/static/CSS/addlink.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <meta name="viewport" content="width=device-width,initial-scale=1" />

  </head>

  <body>
    <div class="gfg-div">
      <div class="gfg-logo"></div>
      <div class="info">
        <div class="gfg-title">Geeksforgeeks</div>
        <div class="gfg-sub-title">Add Social Links..!</div>
      </div>
      <div class="gfg-input-fields">
        <i class="fab fa-facebook"></i>
        <div class="gfg-email">
            <input type="text" placeholder="Facebook"/>
        </div>
        <i class="fab fa-twitter"></i>
        <div class="gfg-password">
            <input type="text" placeholder="Twitter" />
        </div>
        <i class="fab fa-instagram"></i>
        <div class="gfg-password">
            <input type="text" placeholder="Instagram" />
        </div>
        <i class="fab fa-youtube"></i>
        <div class="gfg-password">
          <input type="text" placeholder="Youtube" />
        </div>
      </div>
      <button class="gfg-button">Save</button>
    </div>
  </body>
</html>
