<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Add Your Links</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="/static/CSS/addlink.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>

<body>
    <div class="gfg-div">
        <div class="icon arrow">
            <a href="/home/"><i class="fas fa-arrow-left"></i></a>
        </div>
        <div class="gfg-logo">
            <div class="inner-area">
                <img src="{{ appuser.picture.url }}" alt="">
            </div>
        </div>
        <div class="info">
            <div class="gfg-title">{{appuser.user.username | upper}} <i class="fas fa-lock"></i></div>
            <div class="gfg-sub-title">Change Password...!</div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="gfg-input-fields">
                <h3>Old Password</h3>
                <div class="gfg-email">
                    <input type="password" name="opass" required/>
                </div>
               <h3>New Password</h3>
                <div class="gfg-password">
                    <input type="password" name="npass" required/>
                </div>
                <h3>Confirm Password</h3>
                <div class="gfg-password">
                    <input type="password" name="cpass" required/>
                </div>
            </div>
            <button type="submit" class="gfg-button">Change & Save</button>
        </form>
        {% if messages %}
        {{ message.tags }}
        <div class="alert alert-info" role="alert">
            {% for message in messages %}
            <span style="color:red">{{ message }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</body>

</html>